.content-home{
	height: 100vh;
	overflow: hidden;
}

.fotografia{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.fotografia-item{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.data-fotografia{
	position: absolute;
	left: 80px;
	bottom: 120px;
	right: 0px;
	color: rgb(15,70,216);
	z-index: 3;
	font-size: 40px;
	max-width: 500px;
}

.leer-mas{
	position: absolute;
	bottom: 50px;
	left: 50px;
	right: 0px;
	display: flex;
	flex-direction: row;
}

.leer-mas-btn{
	width: 34px;
	height: 34px;
	border: 1px solid rgb(15,70,216);
	border-radius: 50%;
	display: flex;
	cursor: pointer;
}

.leer-mas-btn mat-icon{
	font-size: 24px;
	width: 24px;
	height: 24px;
	color: rgb(15,70,216);
	margin: auto;
}

.txt-leer-mas{
	margin: auto 15px;
	color: rgb(15,70,216);
}

.linea-inferior{
	margin: auto auto auto 0px;
	height: 1px;
	position: absolute;
	left: 120px;
	top: 18px;
	right: 100px;
	background: rgb(15,70,216);
}

.login{
	position: absolute;
	right: 60px;
	top: 8px;
	color: rgb(15,70,216);
	cursor: pointer;
	transition: all .2s linear;
}

.login:hover{
	transform: scale(1.2);

}

.content-flechas-nav{
	position: absolute;
	height: 100px;
	width: 100%;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	display: flex;
}

.content-flechas-nav mat-icon{
	font-size: 60px;
	width: 60px;
	height: 60px;
	cursor: pointer;

}

.content-flechas-nav div{
	color: rgb(15,70,216);
	transition: all .2s linear;
	position: absolute;
	outline: none;
}

.content-flechas-nav div:hover{
	color: rgb(113,170,216);
}

.move-left{
	left: 10px;
}

.move-right{
	right: 10px;
}

.ver-mas{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(30,30,30,0.8);
	z-index: 6;
}

.ver-mas-detalle{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	font-size: 10px;
	color: rgb(15,70,216);;
	z-index: 7;
	display: flex;
	flex-direction: column;
}

.ver-mas-nombre{
	font-size: 6em;
	color: #fff;
}

.ver-mas-descripcion{
	margin-top: 10px;
	font-size: 2.5em;
	color: #fff;
}

.ver-mas-autor{
	margin-top: 20px;
	font-size: 1.5em;
	color: #fff;	
}

.ver-mas-compartir{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

.compartir *{
	margin: 3px;
}

.compartir div{
	color: #fff;
	cursor: pointer;
	transition: all .2s linear;
}

.compartir div:hover{
	transform: scale(1.2);
}


/* THUMBS */

.show-thumbs{
	position: absolute;
	right: 30px;
	top: 20px;
	cursor: pointer;
	z-index: 6;
	color: #fff;
	background: #333;
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.show-thumbs mat-icon{
	font-size: 30px;
	width: 30px;
	height: 30px;
	margin:auto;
}

.content-thumbs{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10px;
}




